@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=cyrillic,greek,latin-ext');

.fluid_video_wrapper {
	position:relative;
	display: inline-block;
}

.fluid_video_wrapper video {
	position:relative;
	background-color: #000000;
    display: block;
}

.fluid_video_wrapper .vast_video_loading {
    position: absolute;
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: auto;
    z-index: 10;
}

.fluid_video_wrapper .vast_video_loading:before {
    background: #000000 url("images/loader.gif") no-repeat scroll center center;
    opacity: 0.6;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.skip_button {
	position:absolute;
	height:47px;
	bottom: 50px;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #777777;
}

.skip_button:not(.skip_button_disabled):hover {
	background-color: #000000;
    border: 1px solid #ffffff;
}

.skip_button, .skip_button a {
	color:#ffffff;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: left;
	text-decoration: none;
	cursor: pointer;
    line-height: 41px;
    z-index: 10;
}

.skip_button a {
    display: block;
    height: 100%;
    padding: 0 19px 0 28px;
}

.skip_button a span.skip_button_icon {
    background: rgba(0, 0, 0, 0) url("images/skip_next.png") no-repeat scroll center center;
    display: inline-block;
    height: 14px;
    width: 12px;
}

.skip_button_disabled {
	cursor: default !important;
    padding: 0 19px 0 28px;
}

.vast_clickthrough_layer {
	/*IE Fix*/
	background-color: white;
	opacity: 0;
}

/*Mobile Layout*/
.fluid_video_wrapper.mobile .skip_button {
    bottom: 75px;
}
