<html>
<head>
    <title>Fluid Player v3</title>

    <!--    <link rel="stylesheet" href="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.css" type="text/css"/>-->
    <!--    <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <%= htmlWebpackPlugin.tags.headTags %>
    <style>
        #fluid_video_wrapper_test-video{width: 100% !important; height: 100% !important;}
    </style>

    <meta name="keywords" content="general, humour, games, gif">
</head>
<body>


<div class="main">
    <div class="container_wrap clearfix">
        <h1>Fluid Player v3</h1>
        <div class="demo_container_left" style="width: 640px; height: 360px;">
            <!--  HTML5 <video> tag -->
            <video id='test-video' controls >
                <source data-fluid-hd src='https://cdn.fluidplayer.com/videos/valerian-1080p.mkv' title="1080p" type='video/mp4' />
                <source data-fluid-hd src='https://cdn.fluidplayer.com/videos/valerian-720p.mkv' title="720p" type='video/mp4' />
                <source src='https://cdn.fluidplayer.com/videos/valerian-480p.mkv' title="480p" type='video/mp4' />
            </video>
        </div>
    </div>
</div>



<%= htmlWebpackPlugin.tags.bodyTags %>
<script type="text/javascript">
    var myFluidPlayer = fluidPlayer(
        'test-video',
        {
            layoutControls:{
                allowDownload:false,
                allowTheatre:false,
                mute: true,
                //autoPlay: true,
                fillToContainer:true
            },
            vastOptions:{
                showPlayButton: true,
                allowVPAID: true,
                adList:[
                    {
                        "roll":"preRoll",
                        //"vastTag":"https://go.xxxjmp.com/smartpop/b8924d7f53dba9529aa097c02667997ce3eaa46e54740651ba770b91b8ccbb3c?userId=1f2ad638bb163e0f21b19d6cbbcd5805b56eb7b1ef21117b6157eaf2a11915c9&memberId={conversions_tracking}&sourceId={zone_id}&p1={campaign_id}&contentType=application/x-mpegURL"
                        //"vastTag":"https://go.xxxjmp.com/api/models/vast?campaignId=a0453f9ffde8127403c4ede11ca41c29d4a845e5a58a7b6cabb14609d0ce2c8a&campaignType=smartpop&creativeId=24bbe54e51bd97b5dea7288845d5028fd3cc9e227ef6f28aad5790076686d38a&endpoint=room&iterationId=93420&masterSmartpopId=0&ruleId=0&smartpopId=4619&userId=1f2ad638bb163e0f21b19d6cbbcd5805b56eb7b1ef21117b6157eaf2a11915c9&variationId=25857&duration=00:00:30&xhVersion=1"
                        //"vastTag":"https://feelpornx.com/tests/vastH.xml"
                        //"vastTag":"https://feelpornx.com/tests/vast_SUP-3801.xml"
                        //"vastTag":"https://vstfollow.com/dynamic?id=2"
                        //"vastTag":"https://fiorenetwork.com/ybvast/hdg.php?ds=21country={country}&site_id={site_id}&sub={sub}&tags={tags}&zone_id={zone_id}&camping={campaign_id}"
                        //"vastTag":"https://recentstream.com/vast.xml"
                        //"vastTag":"https://syndication.realsrv.com/splash.php?idzone=3086904&sub=40000000&tags=40000000"
                        //"vastTag":"https://syndication.realsrv.com/splash.php?idzone=3080432&sub=601"
                        //"vastTag":"https://syndication.realsrv.com/splash.php?idzone=4145838&tags="+document.getElementsByName('keywords')[0].getAttribute('content')
                        //"vastTag":"https://syndication.realsrv.com/splash.php?idzone=2366423"
                        //"vastTag":"https://syndication.realsrv.com/splash.php?idzone=4454682"
                        // "vastTag":"https://syndication.realsrv.com/splash.php?idzone=2930788"
                        "vastTag":"http://0.0.0.0:8080/localxml.xml"
                        //"vastTag":"https://go.celebjihad.live/smartpop/b45340ce62eb4ac0bc2bdf89cf5aaaadd2678a4b13e0396056f75e3b5c95a5a6?userId=ec8783cd777e19266963e347dc703a7d078a363d02b20575fe1c271cc62c0972"
                        //"vastTag":"https://syndication.realsrv.com/splash.php?idzone=3665859&tags=big%20tits,huge%20tits,big%20cock,Deepthroat,Rough%20Sex,HD%20porn,brunette,Reverse%20Cowgirl,blowjob,hardcore,missionary,JMac,Blake%20Blakely"

                    }

                ]

            }
        });
</script>
<!--script>
window.onload = function(e) {
    myFluidPlayer.play();
};
</script-->
</body>
</html>
