<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>VOD with Event Tracking on VAST and VPAID (4 players)</title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style lang="css">
        .multi-video-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
        }
        #fluid-player-e2e-case-vast-linear,
        #fluid-player-e2e-case-vast-non-linear,
        #fluid-player-e2e-case-vpaid-linear,
        #fluid-player-e2e-case-vpaid-non-linear {
            height: 40vh;
            width: 40vw;
        }
    </style>
</head>
<body>
<div class="multi-video-container">
    <div>
        <p>VAST Linear</p>
        <video preload="none" id="fluid-player-e2e-case-vast-linear">
            <source src="https://cdn.fluidplayer.com/videos/valerian-1080p.mkv" data-fluid-hd title="1080p" type="video/mp4"/>
            <source src="https://cdn.fluidplayer.com/videos/valerian-720p.mkv" data-fluid-hd title="720p" type="video/mp4"/>
            <source src="https://cdn.fluidplayer.com/videos/valerian-480p.mkv" title="480p" type="video/mp4"/>
        </video>
    </div>

    <div>
        <p>VAST Non Linear</p>
        <video preload="none" id="fluid-player-e2e-case-vast-non-linear">
            <source src="https://cdn.fluidplayer.com/videos/valerian-1080p.mkv" data-fluid-hd title="1080p" type="video/mp4"/>
            <source src="https://cdn.fluidplayer.com/videos/valerian-720p.mkv" data-fluid-hd title="720p" type="video/mp4"/>
            <source src="https://cdn.fluidplayer.com/videos/valerian-480p.mkv" title="480p" type="video/mp4"/>
        </video>
    </div>

    <div>
        <p>VPAID Linear</p>
        <video preload="none" id="fluid-player-e2e-case-vpaid-linear">
            <source src="https://cdn.fluidplayer.com/videos/valerian-1080p.mkv" data-fluid-hd title="1080p" type="video/mp4"/>
            <source src="https://cdn.fluidplayer.com/videos/valerian-720p.mkv" data-fluid-hd title="720p" type="video/mp4"/>
            <source src="https://cdn.fluidplayer.com/videos/valerian-480p.mkv" title="480p" type="video/mp4"/>
        </video>
    </div>

    <div>
        <p>VPAID Non Linear</p>
        <video preload="none" id="fluid-player-e2e-case-vpaid-non-linear">
            <source src="https://cdn.fluidplayer.com/videos/valerian-1080p.mkv" data-fluid-hd title="1080p" type="video/mp4"/>
            <source src="https://cdn.fluidplayer.com/videos/valerian-720p.mkv" data-fluid-hd title="720p" type="video/mp4"/>
            <source src="https://cdn.fluidplayer.com/videos/valerian-480p.mkv" title="480p" type="video/mp4"/>
        </video>
    </div>
</div>

<%= htmlWebpackPlugin.tags.bodyTags %>

<script>
    var instance_vast_linear = fluidPlayer('fluid-player-e2e-case-vast-linear', {
        vastOptions: {
            allowVPAID: true, // Default false.
            adList: [
                {
                    roll: 'preRoll',
                    vastTag: '/static/vast_linear.xml',
                },
            ]
        },
    });

    var instance_vast_non_linear = fluidPlayer('fluid-player-e2e-case-vast-non-linear', {
        vastOptions: {
            allowVPAID: true, // Default false.
            adList: [
                {
                    roll: 'preRoll',
                    vastTag: '/static/vast_nonlinear.xml',
                },
            ]
        },
    });

    var instance_vpaid_linear = fluidPlayer('fluid-player-e2e-case-vpaid-linear', {
        vastOptions: {
            allowVPAID: true, // Default false.
            adList: [
                {
                    roll: 'preRoll',
                    vastTag: '/static/vpaid_linear_local_ad_tracking.xml',
                },
            ]
        },
    });

    var instance_vpaid_non_linear = fluidPlayer('fluid-player-e2e-case-vpaid-non-linear', {
        vastOptions: {
            allowVPAID: true, // Default false.
            adList: [
                {
                    roll: 'preRoll',
                    vastTag: '/static/vpaid_nonlinear.xml',
                },
            ]
        },
    });
</script>

</body>
</html>
