<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VOD VR with Auto Play</title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style lang="css">
        #fluid-player-e2e-case {
            width: 90%;
        }
    </style>
</head>
<body>

<video id="fluid-player-e2e-case" crossorigin="anonymous">
    <source src="https://pchen66.github.io/Panolens/examples/asset/textures/video/ClashofClans.mp4" title="VR" type="video/mp4"/>
</video>

<%= htmlWebpackPlugin.tags.bodyTags %>

<script>
    var instance = fluidPlayer('fluid-player-e2e-case', {
        layoutControls: {
            showCardBoardView: true,
            showCardBoardJoystick: true,
            autoPlay: true
        },
    });
</script>

</body>
</html>
