<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VOD with VAST Wrapper - VAST Waterfall On (fallbackOnNoAd=true)</title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style lang="css">
        #fluid-player-e2e-case {
            width: 90%;
        }
    </style>
</head>
<body>

<b>VOD with VAST Wrapper - VAST Waterfall On (fallbackOnNoAd=true)</b>
<p>This scenario represents the following statement from the fallbackOnNoAd description: "(...) instruction for using an available Ad when the requested VAST response returns no ads. If true, the video player should select from any stand-alone ads available.".</p>

<video id="fluid-player-e2e-case">
    <source src="https://cdn.fluidplayer.com/videos/valerian-1080p.mkv" data-fluid-hd title="1080p" type="video/mp4"/>
    <source src="https://cdn.fluidplayer.com/videos/valerian-720p.mkv" data-fluid-hd title="720p" type="video/mp4"/>
    <source src="https://cdn.fluidplayer.com/videos/valerian-480p.mkv" title="480p" type="video/mp4"/>
</video>

<%= htmlWebpackPlugin.tags.bodyTags %>

<script>
    var instance = fluidPlayer('fluid-player-e2e-case', {
        vastOptions: {
            allowVPAID: true, // Default false.
            adCTATextVast: true,
            adList: [
                {
                    roll: 'preRoll',
                    vastTag: '/static/vast_wrapper_fallbackOnNoAd_true.xml',
                    maxTotalDuration: 30000,
                    maxTotalQuantity: 100,
                },
            ]
        }
    });
</script>

</body>
</html>
