<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VOD two players</title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style lang="css">
        #fluid-player-e2e-case-1 {
            width: 90%;
            height: 20vh;
        }
        #fluid-player-e2e-case-2 {
            width: 90%;
            height: 20vh;
        }
    </style>
</head>
<body>

<video id="fluid-player-e2e-case-1">
    <source src='https://cdn.fluidplayer.com/videos/valerian-1080p.mkv' data-fluid-hd title="1080p" type='video/mp4'/>
    <source src='https://cdn.fluidplayer.com/videos/valerian-720p.mkv' data-fluid-hd title="720p" type='video/mp4'/>
    <source src='https://cdn.fluidplayer.com/videos/valerian-480p.mkv' title="480p" type='video/mp4'/>
</video>

<video id="fluid-player-e2e-case-2">
    <source src='https://cdn.fluidplayer.com/videos/valerian-1080p.mkv' data-fluid-hd title="1080p" type='video/mp4'/>
    <source src='https://cdn.fluidplayer.com/videos/valerian-720p.mkv' data-fluid-hd title="720p" type='video/mp4'/>
    <source src='https://cdn.fluidplayer.com/videos/valerian-480p.mkv' title="480p" type='video/mp4'/>
</video>

<%= htmlWebpackPlugin.tags.bodyTags %>

<script>
    var firstInstance = fluidPlayer('fluid-player-e2e-case-1');
    var secondInstance = fluidPlayer('fluid-player-e2e-case-2');
</script>

</body>
</html>
