<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VOD with subtitles</title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style lang="css">
        #fluid-player-e2e-case {
            width: 90%;
        }
    </style>
</head>
<body>

<video id="fluid-player-e2e-case">
    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4"/>
    <track label="English" kind="metadata" srclang="en" src="/static/subtitles/english.vtt" default>
    <track label="Deutsch" kind="metadata" srclang="de" src="/static/subtitles/deutsch.vtt">
</video>

<%= htmlWebpackPlugin.tags.bodyTags %>

<script>
    var instance = fluidPlayer('fluid-player-e2e-case', {
        layoutControls: {
            subtitlesEnabled: true
        }
    });
</script>

</body>
</html>
