/**
* Fluid menu styles
*/


/**
* Fluid sub menu styles
*/
.fluid_sub_menu_button {
    position: relative;
    cursor: pointer;
    padding: 0 20px;
    border-bottom: 1px solid #e0e0e0;
}

.fluid_sub_menu_button.arrow-right::after {
    content: '▶';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #ffffff;
}

.fluid_sub_menu_button.arrow-left::before {
    content: '◀';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #ffffff;
}