/**
* Fluid menu styles
*/


/**
* Fluid sub menu styles
*/
.fluid_sub_menu_button {
    position: relative;
    cursor: pointer;
    padding-right: 20px;
}

.fluid_sub_menu_button::after {
    content: '▶';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #ffffff;
}